@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #fff;
  --foreground: #000;
  --brand: #135485;
  --brand-light: #1576bc;
  --brand-dark: #135485;
}

html {
  scroll-behavior: smooth;
}

.bg-brand {
  background-color: var(--brand);
}
.bg-brand-light {
  background-color: var(--brand-light);
}
.bg-brand-dark {
  background-color: var(--brand-dark);
}

.text-brand {
  color: var(--brand);
}
.text-brand-light {
  color: var(--brand-light);
}
.text-brand-dark {
  color: var(--brand-dark);
}